---
- name: Ensure global ssh directory exist
  file:
    path: etc/ssh
    state: present

- name: Ensure global known_hosts files exist
  file:
    path: "{{ deployment_global_ssh_known_hosts_file }}"
    state: touch
    mode: 0644

- name: Add bitbucket.org to global known_hosts
  lineinfile:
    path: "{{ deployment_global_ssh_known_hosts_file }}"
    line: "{{ deployment_bitbucket_public_host_key }}"
    state: present

- name: Add packagist.org to global known_hosts
  lineinfile:
    path: "{{ deployment_global_ssh_known_hosts_file }}"
    line: "{{ deployment_packagist_public_host_key }}"
    state: present

- name: Add github.com to global known_hosts
  lineinfile:
    path: "{{ deployment_global_ssh_known_hosts_file }}"
    line: "{{ deployment_github_public_host_key }}"
    state: present
